@model HomeModel

@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome</h1>
    <p>Meu primeiro site em MVC</p>
    <span>Seu email é: @Model.Email</span>
</div>
